In [1]:
import pandas as pd
import numpy as np
import math

In [63]:
df = pd.DataFrame({'year': [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
                   'crime': [2404.8, 2303.2, 2206.2, 2190.6, 2388.5, 2160.1, 2058.5, 1991.5, 2024.3, 2044.2, 2004.4, 1966.8]})

In [64]:
df

    year   crime
0   2011  2404.8
1   2012  2303.2
2   2013  2206.2
3   2014  2190.6
4   2015  2388.5
5   2016  2160.1
6   2017  2058.5
7   2018  1991.5
8   2019  2024.3
9   2020  2044.2
10  2021  2004.4
11  2022  1966.8

In [65]:
#Абсолютный прирост, темп роста, темп прироста

In [66]:
#Базисная система

In [67]:
y0 = df.crime[0]
y0

2404.8

In [68]:
for i in range(1, len(df.crime), 1):
    print("абсолютный прирост на %d год составялет %d" %(df.year[i], df.crime[i] - y0))

абсолютный прирост на 2012 год составялет -101
абсолютный прирост на 2013 год составялет -198
абсолютный прирост на 2014 год составялет -214
абсолютный прирост на 2015 год составялет -16
абсолютный прирост на 2016 год составялет -244
абсолютный прирост на 2017 год составялет -346
абсолютный прирост на 2018 год составялет -413
абсолютный прирост на 2019 год составялет -380
абсолютный прирост на 2020 год составялет -360
абсолютный прирост на 2021 год составялет -400
абсолютный прирост на 2022 год составялет -438

In [69]:
for i in range(1, len(df.crime), 1):
    print("темп роста на %d год составялет %f" %(df.year[i], df.crime[i] / y0 * 100) + "%")

темп роста на 2012 год составялет 95.775116%
темп роста на 2013 год составялет 91.741517%
темп роста на 2014 год составялет 91.092814%
темп роста на 2015 год составялет 99.322189%
темп роста на 2016 год составялет 89.824518%
темп роста на 2017 год составялет 85.599634%
темп роста на 2018 год составялет 82.813540%
темп роста на 2019 год составялет 84.177478%
темп роста на 2020 год составялет 85.004990%
темп роста на 2021 год составялет 83.349967%
темп роста на 2022 год составялет 81.786427%

In [70]:
for i in range(1, len(df.crime), 1):
    print("темп прироста на %d год составялет %f" %(df.year[i], df.crime[i] / y0 * 100 - 100) + "%")

темп прироста на 2012 год составялет -4.224884%
темп прироста на 2013 год составялет -8.258483%
темп прироста на 2014 год составялет -8.907186%
темп прироста на 2015 год составялет -0.677811%
темп прироста на 2016 год составялет -10.175482%
темп прироста на 2017 год составялет -14.400366%
темп прироста на 2018 год составялет -17.186460%
темп прироста на 2019 год составялет -15.822522%
темп прироста на 2020 год составялет -14.995010%
темп прироста на 2021 год составялет -16.650033%
темп прироста на 2022 год составялет -18.213573%

In [71]:
#Цепная система

In [72]:
for i in range(1, len(df.crime), 1):
    print("абсолютный прирост на %d год составялет %d" %(df.year[i], df.crime[i] - df.crime[i-1]))

абсолютный прирост на 2012 год составялет -101
абсолютный прирост на 2013 год составялет -97
абсолютный прирост на 2014 год составялет -15
абсолютный прирост на 2015 год составялет 197
абсолютный прирост на 2016 год составялет -228
абсолютный прирост на 2017 год составялет -101
абсолютный прирост на 2018 год составялет -67
абсолютный прирост на 2019 год составялет 32
абсолютный прирост на 2020 год составялет 19
абсолютный прирост на 2021 год составялет -39
абсолютный прирост на 2022 год составялет -37

In [73]:
for i in range(1, len(df.crime), 1):
    print("темп роста на %d год составялет %f" %(df.year[i], df.crime[i] / df.crime[i-1] * 100) + "%")

темп роста на 2012 год составялет 95.775116%
темп роста на 2013 год составялет 95.788468%
темп роста на 2014 год составялет 99.292902%
темп роста на 2015 год составялет 109.034055%
темп роста на 2016 год составялет 90.437513%
темп роста на 2017 год составялет 95.296514%
темп роста на 2018 год составялет 96.745203%
темп роста на 2019 год составялет 101.647000%
темп роста на 2020 год составялет 100.983056%
темп роста на 2021 год составялет 98.053028%
темп роста на 2022 год составялет 98.124127%

In [74]:
for i in range(1, len(df.crime), 1):
    print("темп прироста на %d год составялет %f" %(df.year[i], df.crime[i] / df.crime[i-1] * 100 - 100) + "%")

темп прироста на 2012 год составялет -4.224884%
темп прироста на 2013 год составялет -4.211532%
темп прироста на 2014 год составялет -0.707098%
темп прироста на 2015 год составялет 9.034055%
темп прироста на 2016 год составялет -9.562487%
темп прироста на 2017 год составялет -4.703486%
темп прироста на 2018 год составялет -3.254797%
темп прироста на 2019 год составялет 1.647000%
темп прироста на 2020 год составялет 0.983056%
темп прироста на 2021 год составялет -1.946972%
темп прироста на 2022 год составялет -1.875873%

In [117]:
df = df[0:11]
df

    year   crime  time  time^2  time * crime
0   2011  2404.8   1.0     1.0        2404.8
1   2012  2303.2   2.0     4.0        4606.4
2   2013  2206.2   3.0     9.0        6618.6
3   2014  2190.6   4.0    16.0        8762.4
4   2015  2388.5   5.0    25.0       11942.5
5   2016  2160.1   6.0    36.0       12960.6
6   2017  2058.5   7.0    49.0       14409.5
7   2018  1991.5   8.0    64.0       15932.0
8   2019  2024.3   9.0    81.0       18218.7
9   2020  2044.2  10.0   100.0       20442.0
10  2021  2004.4  11.0   121.0       22048.4

In [75]:
#Средний уровень ряда

In [132]:
y_mean = df.crime.mean()
y_mean

2161.4818181818187

In [77]:
#Средние показатели изменения уровня ряда

In [78]:
#Средний абсолютный прирост

In [130]:
n = len(df.crime)
dy_mean = (df.crime[n-1] - df.crime[0])/(n-1)
dy_mean

-40.040000000000006

In [125]:
#Средний темп роста

In [131]:
T_r = (df.crime[n-1] / df.crime[0]) ** (1/(n-1)) * 100
T_r

98.19526422636717

In [82]:
#Средний темп прироста

In [129]:
T_pr = T_r - 100
T_pr

-1.7889190264593395

In [111]:
y = 1966.8

In [84]:
#прогноз на 2022 год по среднему абсолютному приросту

In [127]:
y_2022_1 = df.crime[n-1] + dy_mean
y_2022_1, (y_2022_1 - y) / y_2022_1 * 100

(1964.3600000000001, -0.12421348429003985)

In [86]:
#Прогнозирование по среднему темпу роста

In [128]:
y_2022_2 = df.crime[n-1] * ((df.crime[n-1]/df.crime[0])**(1/(n-1)))
y_2022_2, (y_2022_2 - y) / y_2022_1 * 100

(1968.2258761533037, 0.07258731359342287)

In [88]:
#Прогнозирование методом аналитического выравнивания

In [95]:
for i in range(n):
    df.at[i,'time'] = i + 1
    df.at[i,'time^2'] = df['time'][i]**2
    df.at[i,'time * crime'] = df['crime'][i] * df['time'][i]
    
df = df[0:n-1]
df

    year   crime  time  time^2  time * crime
0   2011  2404.8   1.0     1.0        2404.8
1   2012  2303.2   2.0     4.0        4606.4
2   2013  2206.2   3.0     9.0        6618.6
3   2014  2190.6   4.0    16.0        8762.4
4   2015  2388.5   5.0    25.0       11942.5
5   2016  2160.1   6.0    36.0       12960.6
6   2017  2058.5   7.0    49.0       14409.5
7   2018  1991.5   8.0    64.0       15932.0
8   2019  2024.3   9.0    81.0       18218.7
9   2020  2044.2  10.0   100.0       20442.0
10  2021  2004.4  11.0   121.0       22048.4

In [96]:
#y = bx + a

In [108]:
b = df['time * crime'].mean()
b -= df['crime'].mean() * df['time'].mean()
b = b /(df['time^2'].mean() - (df['time'].mean())**2)
b

-39.19909090909114

In [109]:
a = df['crime'].mean() - b * df['time'].mean()
a

2396.6763636363653

In [115]:
y_2022_3 = 12 * b + a
y_2022_3, (y_2022_3 - y) / y_2022_1 * 100

(1926.2872727272716, -2.0621552585792595)